@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Purpose</h3>

<p>
    The main purpose of this web application is to implement a persistent storage
    application that will allow the user to perform CRUD operations on the Venuses
    listed in the 'Venues' tab. This web app was created by Akeel Lashley, 4th-semester
    student at Seneca College enrolled in Computer Programming & Analysis (CPA).
</p>
<p>WEB 524 - Summer 2022</p>
