@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Contact Us</h3>

<address>
    1750 Finch Ave E,<br />
    North York, ON M2J 2X5<br />
    <abbr title="Phone">Phone:</abbr>
    +1(647)563-8318
</address>

<strong>Contact Name:</strong> Akeel Lashley
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Alashley5@myseneca.ca</a>
</address>