@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1 - Alashley5</h1>
    <p class="lead">The purpose of this web app is to allow the user to create, query, update and delete (CRUD) venues. </p>
  
</div>

